<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
        <display-name>GC4MAFJ</display-name>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>mpw96.HelloWorld</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CoordinateResponder</servlet-name>
		<servlet-class>mpw96.SecureCoordinateResponder</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CoordinateResponder</servlet-name>
		<url-pattern>/getcoords</url-pattern>
	</servlet-mapping>
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure stuff</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	-->
</web-app>
